<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceHello" />
                <binding name="BasicHttpBinding_IServiceHello1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13839/ServiceHello.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceHello" contract="HelloWebService.IServiceHello"
                name="BasicHttpBinding_IServiceHello" />
            <endpoint address="http://localhost:13839/ServiceHello.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceHello1" contract="ServiceReference1.IServiceHello"
                name="BasicHttpBinding_IServiceHello1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
