<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFile" />
      <appender-ref ref="Syslog" />
    </root>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString"  value="S:\Data\NDG_A_RECUPERER\Log.%date{yyyy-MM-dd}.txt"/>
      <param name="DatePattern" value="yyyy-MM-dd"/>
      <param name="maxSizeRollBackups" value="10" />
      <appendToFile value="true" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="conversionPattern" value="%date [%thread] %-5level [%logger.%M] - %message%newline"/>
      </layout>
    </appender>
    <appender name="Syslog" type="log4net.Appender.RemoteSyslogAppender">
      <facility value="Local6" />
      <identity value="MyApp[%level][%property{log4net:HostName}]" />
      <layout type="log4net.Layout.PatternLayout" value="%-5level %logger [%ndc] - %message" />
      <RemoteAddress value="82.234.190.47" />
      <RemotePort value="514" />
    </appender>




    <!--
    <appender name="Syslog" type="log4net.Appender.RemoteSyslogAppender">
      <facility value="local7" />
      <identity value=" %date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} %P{app}" />
      <RemoteAddress value="82.234.190.47" />
      <layout type="log4net.Layout.PatternLayout" value=" %P{pid}:%logger %m%n"/>
      <RemotePort value="514" />
    </appender>
    -->
  </log4net>
  <system.net>
    <!-- Configuration Proxy (chez ALD France) -->
    <defaultProxy enabled="true">
      <proxy bypassonlocal="true"
             proxyaddress="http://hq-proxy:80" />
    </defaultProxy>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation des informations sur les métadonnées, définissez la valeur ci-dessous sur false et supprimez le point de terminaison des métadonnées ci-dessus avant le déploiement. -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- Pour recevoir les détails d'exception des erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Définissez-la sur false avant le déploiement pour éviter la divulgation des informations d'exception. -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>